.idea/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.swp
.DS_Store
result/*
!result/.gitkeep
train_result/*
!train_result/.gitkeep
trash/*
!trash/.gitkeep
tuning.txt
train_result/*
sim_result/*
app/__pycache__/